body {
  background: rgba(131, 160, 241, 0.514);
}
main {
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
}
.myCard {
  background: black;
  border: 4px solid black;
  flex-grow: 5;
  align-items: center;
  box-shadow: 5px 10px;
  border-radius: 38px;
  max-width: 500px;
  text-align: center;
  overflow: hidden;
}
.spacer {
    flex-grow: 6;
}
.myName {
    background: rgb(101, 132, 231);
    font-size: 32px;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: white;
}
.myName::before {    
    letter-spacing: 10px;
    font-size: 72px;
    font-weight: 950;
    content: 'HELLO';
}
.myExcuse {
  background: white;
  padding: 20px;
  font-family: 'Oi', cursive;
  font-size: 32px;
  text-align: center;
}
.footer {
    background-color:  rgb(101, 132, 231);
    width: 500px;
    height: 50px;
    content: '';
}